.bannerwrap {
  position: relative;
  .inner {
    height: 180px;
    h2 {
      font-family: 'Noto Sans KR', sans-serif;
      position: absolute;
      top: 90px;
      font-size: 30px;
      font-weight: 400;
    }
    ul {
      display: flex;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    a {
    }
    div {
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* NOTICE */
.banner-notice {
  .notice-line {
    position: relative;
    height: 62px;
    .bg-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #111;
    }
    .bg-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: url('../public/images/useInfo_bg.jpg');
    }
    .inner {
      $noticeheight: 62px;
      height: $noticeheight;
      display: flex;
      &__left {
        width: 68%;
        height: 100%;
        background-color: #111;
        display: flex;
        align-items: center;
        h2 {
          color: #fff;
          font-size: 17px;
          font-weight: 700;
          margin-right: 20px;
        }
        .swiper {
          height: $noticeheight;
          background-color: #111;
          flex-grow: 1;
        }
        .swiper-slide {
          height: $noticeheight;
          display: flex;
          align-items: center;
          a {
            color: #fff;
          }
        }
        .notice-line__more {
          width: $noticeheight;
          height: $noticeheight;
          display: flex;
          justify-content: center;
          align-items: center;
          .material-icons {
            color: #fff;
            font-size: 36px;
          }
        }
      }
      &__right {
        width: 32%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url('../public/images/useInfo_app.png');
        background-position: bottom left;
        background-size: 70px;
        background-repeat: no-repeat;
        margin-left: 50px;
        .notice-line__more {
          width: $noticeheight;
          height: $noticeheight;
          display: flex;
          justify-content: center;
          align-items: center;
          .material-icons {
            color: #fff;
            font-size: 36px;
          }
        }
      }
    }
  }
  .promotion {
    height: 693px;
    background-color: #f6f5ef;
    position: relative;
    transition: height 0.4s;
    overflow: hidden;
    &hide {
      height: 0;
    }
    .swiper {
      width: calc(819px * 3 + 20px);
      height: 553px;
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: calc((819px * 3 + 20px) / -2);
      &-slide {
        opacity: 0.5;
        transition: opacity 1s;
        position: relative;
        &-active {
          opacity: 1;
        }
        &-pagination {
          bottom: 40px;
          left: 0;
          right: 0;
          .swiper-pagination-bullet {
            background-color: transparent;
            background-image: url('../public/images/promotion_slide_pager.png');
            width: 12px;
            height: 12px;
            margin-right: 6px;
            outline: none;
            &:last-child() {
              margin-right: 0;
            }
            &-active {
              background-image: url('../public/images/promotion_slide_pager_on.png');
            }
          }
        }
        .btn {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    .swiper-next,
    .swiper-prev {
      width: 42px;
      height: 42px;
      border: 2px solid #333;
      border-radius: 50%;
      position: absolute;
      top: 300px;
      z-index: 1;
      cursor: pointer;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
    }
    .swiper-prev {
      left: 50%;
      margin-left: -480px;
    }
    .swiper-next {
      right: 50%;
      margin-right: -480px;
    }
    .swiper-next:hover,
    .swiper-prev:hover {
      background-color: #333;
      color: #fff;
    }
  }
}
