.template-wrap {
  height: 430px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  .inner {
    height: 100%;
    .template-l-detail {
      top: 130px;
      position: absolute;
      left: 0px;

      .template-l-txt {
        margin-bottom: 25px;
        img {
        }
      }
      .template-l-btn {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .template-r-detail {
      top: 130px;
      position: absolute;
      width: 40%;
      right: -10%;
      .template-r-txt {
        width: 40%;
        margin-bottom: 25px;
        img {
        }
      }
      .template-r-btn {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
